.check-in {
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    @media screen and (min-width: 768px) {
      max-width: 400px;
      border: 1px solid black;
    }
  }

  &__header {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-weight: 900;
    }

    &__header--line {
      height: 0.15rem;
      width: 1rem;
      background: black;
    }
  }

  &__introduction {
    font-weight: 200;
  }

  &__form {
    &--button {
      display: flex;
      justify-content: center;
    }
  }
}
